{# 最新的技术博客列表 #}
<div class="whitebg bloglist">
    <h2 class="htitle">
        <span class="hnav">学无止境</span>
        最新技术干货
    </h2>
{#    <h2 class="htitle">最新技术干货</h2>#}
    <ul>
        <!--置顶-->
        {#        <li>#}
        {#            <h3 class="blogtitle"><a href="/" target="_blank"><b>【顶】</b>别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
        {#            <span class="bplist"><a href="/"> <img src="images/b02.jpg" alt=""></a> <a href="/"><img#}
        {#                    src="images/b03.jpg" alt=""></a> <a href="/"><img src="images/b04.jpg" alt=""> </a><a href="/"><img#}
        {#                    src="images/b05.jpg" alt=""> </a></span>#}
        {#            <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if#}
        {#                来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
        {#            <p class="bloginfo"><i class="avatar"><img#}
        {#                    src="images/avatar.jpg"></i><span>杨青青</span><span>2018-10-28</span><span>【<a#}
        {#                    href="/">原创模板</a>】</span></p>#}
        {#        </li>#}
        <!--纯文字-->
        {#        <li>#}
        {#            <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>#}
        {#            <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if#}
        {#                来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>#}
        {#            <p class="bloginfo"><i class="avatar"><img#}
        {#                    src="images/avatar.jpg"></i><span>杨青青</span><span>2018-10-28</span><span>【<a#}
        {#                    href="/">原创模板</a>】</span></p>#}
        {#            <a href="/" class="viewmore">阅读更多</a>#}
        {#        </li>#}
        <!--单图-->
        {% for art in blog_list %}
            <li>
                <h3 class="blogtitle"><a href="/x/art/{{ art.pk }}" target="_self">{{ art.title }}</a></h3>
                <span class="blogpic imgscale">
                    {% if art.source %}
                        <i><a href="#">转载</a></i>
                    {% else %}
                        <i><a href="#">原创</a></i>
                    {% endif %}
                    <a href="/x/art/{{ art.pk }}" title=""><img src="{{ MEDIA_URL }}{{ art.cover }}" alt="图片丢失"></a>
                </span>
                <p class="blogtext">
                    {{ art.description }}
                </p>
                <p class="bloginfo">
                    <i class="avatar">
                        <img src="{{ MEDIA_URL }}{{ art.author.header }}">
                    </i>
                    <span>{{ art.author.nickname }}</span>
                    <span>{{ art.add }}</span>
                    <span>【<a href="/x/cat/{{ art.cat.pk }}">{{ art.cat.cat }}</a>】</span>
                    <span>{{ art.read }}次阅读</span>
                </p>
                <a href="/x/art/{{ art.pk }}" class="viewmore">阅读全部</a>
            </li>
        {% endfor %}
    </ul>
</div>
