{# 文章评论表单 #}
{# 实例化ueditor表单 #}
<div class="form_div">
    <form action="/x/comment/add" method="post">
        {% csrf_token %}
        <input type="hidden" name="liked" value="{{ liked }}">
        <input type="hidden" name="blog_id" value="{{ art.pk }}">

        {% if VISITOR %}
            <input type="hidden" name="visitor_id" value="{{ VISITOR.pk }}">
        {% else %}
            <div class="visitor-info">
                <label><strong><span>*</span>昵称(必填)：</strong></label><input type="text" name="nickname"
                                                                            placeholder="输入一个昵称">
                <label><strong><span>*</span>邮箱(必填)：</strong></label><input type="text" name="email"
                                                                            placeholder="作者回复后邮件通知">
                <label><strong><span>*</span>(必填)： 4 + 5 = </strong></label><input type="text" name="code"
                                                                                   placeholder="证明你不是机器人"><br>
            </div>
        {% endif %}

        {# 引入实例化ueditor表单所需的js文件 #}
        {% include 'base/common/ueditor.form.js.html' %}
        {{ cform }}
        <div class="submit-row">
            <div>
                <input type="reset" value="重新输入" id="reset-btn">
                <input type="submit" value="确认提交" id="submit-btn">
            </div>
        </div>
    </form>
</div>
