{# 表格样式的心情日记 #}
<div class="zhuanti whitebg">
    <h2 class="htitle"><span class="hnav"><a href="/x/soul.html">诗酒趁年华</a></span>最新散文</h2>
    <ul>
        {% for art in table.arts %}
            <li>
                <i class="ztpic">
                    <a href="/x/art/{{ art.pk }}" target="_blank">
                        <img src="{{ MEDIA_URL }}{{ art.cover }}" alt="图片丢失">
                    </a>
                </i>
                <b>{{ art.title }}</b>
                <span>{{ art.description }}</span>
                {% if art.source %}
                    <a href="/x/art/{{ art.pk }}" target="_blank" class="readmore">文章阅读-【转载】</a>
                {% else %}
                    <a href="/x/art/{{ art.pk }}" target="_blank" class="readmore">文章阅读-【原创】</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
