{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能暂未开放</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            background: url('https://static/image/earth.jpg') no-repeat;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>

{% include 'db/base/common/egg.js.html' %}

<script type="text/javascript">
    $(document).ready(function (e) {

        //配置一个透明的提示框
        layer.msg('<h1>功能暂未开放</h1>请留意微信公众号，功能开放后会第一时间通知呦', {
            time: 3000, //2s后自动关闭
        });

        function videoBox() {
            layer.open({
                type: 2,
                title: false,
                area: ['640px', '480px'],
                shade: 0.8,
                closeBtn: 1,
                shadeClose: true,
                content: 'http://player.youku.com/embed/XMTY3MDgyMjg2OA'
            });
        }

        $(document).click(function (e) {
            videoBox();
        });
    });
</script>

</body>
</html>

