{% load staticfiles %}
<div class="card">
    <h2>站长名片</h2>
    <p>网名：{{ SITE.webname }}</p>
    <p>职业：{{ SITE.major }}</p>
    <p>现居：{{ SITE.location }}</p>
    <p>Email：{{ SITE.email.me }}</p>
    <ul class="linkmore">
        <li><a href="/" target="_blank" class="iconfont icon-zhuye" title="网站地址"></a></li>
        <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=HHh9cn95b3F1cHVye1xtbTJ-c3E" target="_blank"
               class="iconfont icon-youxiang" title="我的邮箱"></a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=476847113&site=qq&menu=yes" target="_blank"
               class="iconfont icon---" title="QQ联系我"></a></li>
        <li id="weixin"><a href="#" target="_blank" class="iconfont icon-weixin" title="我的微信"></a><i><img
                src="{% static 'image/wxgzh.jpg' %}"></i></li>
    </ul>
</div>