{% load staticfiles %}
<div class="whitebg tongji">
    <h2 class="htitle">站点信息</h2>
    <ul>
        <li><b>运行天数</b>：{{ SITE_CNT.run }}天</li>
        <li><b>累计访问</b>：{{ SITE_CNT.visit }}人次</li>
        <li><b>今日访问</b>：{{ SITE_CNT.today_visit }}人次</li>
        <li><b>原创文章</b>：{{ SITE_CNT.origin }}篇</li>
        <li><b>转载文章</b>：{{ SITE_CNT.copy }}篇</li>
        {# <li><b>评论条数</b>：{{ SITE_CNT.comm }}条</li>#}
        {#<li><b>留言条数</b>：{{ SITE_CNT.msg }}条</li>#}
        <li><b>微信公众号</b>：第一时间获取更新信息</li>
        <img src="{% static 'image/wxgzh.jpg' %}" class="tongji_gzh">
    </ul>
</div>
