{# 导航条部分 #}
<header id="header">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="/">{{ SITE.name }}</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/">首页</a></li>
                <li class="menu">
                    <ul class="sub">
                        {% for cat in A_CATS %}
                            <li><a href="/x/cat/{{ cat.pk }}">{{ cat.cat }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="javascript: void(0);" rel="nofollow">{{ a_cat }}</a>
                </li>
                <li class="menu">
                    <ul class="sub">
                        {% for cat in B_CATS %}
                            <li><a href="/x/cat/{{ cat.pk }}">{{ cat.cat }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="javascript: void(0);" rel="nofollow">{{ b_cat }}</a>
                </li>
                <li><a href="javascript: doing();" class="doing">专题系列</a></li>
                <li><a href="/x/msg.html">留言板</a></li>
                <li><a href="{{ SITE.me }}" target="_blank">关于我</a></li>
                <li><a href="/x/link.html">友情链接</a></li>
                {% if SITE.UPGRADING %}
                    <li><a href="javascript: void(0);" id="upgrading">我要投稿</a></li>
                {% else %}
                    <li><a href="javascript: void(0);" id="tougao">我要投稿</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
