{# 导航条部分 #}
<header id="header">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="/">{{ SITE.name }}</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/">首页</a></li>
                <li><a href="/x/soul.html">文学创作</a></li>
                <li class="menu"><a href="#" onclick="return false;">技术干货</a>
                    <ul class="sub">
                        {% for cat in CATS %}
                            <li><a href="/x/cat/{{ cat.pk }}">{{ cat.cat }}</a></li>
                        {% endfor %}
                    </ul>
                    <span></span>
                </li>
                <li><a href="/x/link.html">友情链接</a></li>
                <li><a href="/x/msg.html">留言板</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="/xauth" target="_blank">进入后台</a></li>
                {% else %}
                    <li><a href="/xauth" target="_blank">登录</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
