{# 友链页 #}
{% extends 'db/base/base-link.html' %}
{% load staticfiles %}


{% block content %}
    {# 友链声明 #}
    <div class="whitebg">
        <h1>{{ declare }}</h1>
        <p>{{ desc }}</p>
    </div>

    {# 公益链接 #}
    <div class="whitebg">
        <h2 class="htitle">
            <strong>
                <span class="hnav">只要人人献出一点爱、世界变成美好人间！</span>公益链接({{ public_cnt }}条)
            </strong>
        </h2>
        <ul class="site_tj">
            {% for link in public_links %}
                <li><a id="{{ link.link }}"  class="goto" href="javascript: void(0);" title="{{ link.link_name }}">{{ link.link_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {# 个人主页 #}
    <div class="whitebg">
        <h2 class="htitle">
            <strong>
                <span class="hnav"><a class="green" href="javascript:void(0);">——>提交链接</a></span>个人主页({{ person_cnt }}条)
            </strong>
        </h2>
        <ul class="site_tj site_yx">
            {% for link in person_links %}
                <li><a id="{{ link.link }}" href="javascript: void(0);" class="goto" title="{{ link.link_name }}">{{ link.link_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {# 商业广告 #}
    <div class="whitebg">
        <h2 class="htitle">
            <strong>
                <span class="hnav">请联系站长投放</span>商业广告({{ biz_cnt }}条)
            </strong>
        </h2>
        <ul class="site_tj">
            {% for link in biz_links %}
                <li><a id="{{ link.link }}" href="javascript: void(0);" class="goto" title="{{ link.link_name }}">{{ link.link_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

