{% extends 'base/base-msg.html' %}
{% load staticfiles %}

{% block content %}
    {# 留言板声明 #}
    <div class="whitebg">
        <h1>{{ declare }}</h1>
        <p>{{ desc }}</p>
    </div>

    {# 留言表单以及留言板 #}
    <div class="whitebg">
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC80MzY3NS8yMDIxNQ==">
            <script type="text/javascript">
                (function (d, s) {
                    var j, e = d.getElementsByTagName(s)[0];

                    if (typeof LivereTower === 'function') {
                        return;
                    }

                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;

                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
            </script>
            <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->
    </div>
{% endblock %}

