{# 文章详情页右侧部分 #}

{# ------作者名片------ #}
{% include 'db/base/right/author.html' %}
{# --作者其他文章-- #}
{% include 'db/base/right/others.html' %}
{#  -------标签云------  #}
{% include 'db/base/right/tagcloud.html' %}
{# --广告0-- #}
{% include 'db/base/right/advertisement.html' %}
{#------站长推荐------#}
{% include 'db/base/right/recommend.html' %}
{% include 'db/base/right/advertisement.html' %}
{# 友链信息 #}
{% include 'db/base/right/links.html' %}
{# --广告2-- #}
{% include 'db/base/right/advertisement.html' %}
{# --站点信息-- #}
{% include 'db/base/right/siteinfo.html' %}

