{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>登录页面 | {{ SITE.name }}</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    {# 搜索引擎验证 #}
    {% for engine, code in SITE.search_engine_metas.items %}
        <meta name="{{ engine }}" content="{{ code }}"/>
    {% endfor %}
    {# -----------彩蛋----------- #}
    {% include 'base/common/egg.js.html' %}
    {# 统一图标 #}
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}"/>
</head>
<body>
<div class="dowebok">
    <div class="logo"></div>
    <div class="title">
        <h2><span>{{ SITE.name }}</span></h2>
    </div>
    {# token和接下来要去的页面 #}
    {% csrf_token %}
    <input type="hidden" name="next", value="{{ next }}">
    <div class="form-item">
        <input id="email" type="text" autocomplete="off" placeholder="你的邮箱">
        <p class="tip" id="email-tip"></p>
    </div>
    <div class="form-item">
        <input id="password" type="password" autocomplete="off" placeholder="登录密码">
        <p class="tip" id="pwd-tip"></p>
    </div>
    <div class="form-item">
        <button id="submit">登 录</button>
    </div>
    <div class="reg-bar">
        <a class="reg" href="/x/auth/signup" target="_self">立即注册</a>
        <a class="index" href="/" target="_self">返回首页</a>
        <a class="forget" href="/x/auth/forget" target="_self">忘记密码</a>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
</body>
</html>
